###> symfony/framework-bundle ###
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
symfony.lock
composer.lock
bin
public
src/Kernel.php
###< symfony/framework-bundle ###
